.main {
    /* width: 100vw; */
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.title {
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 50px;
}

.sillyScope {
    width: 100vw;
    /* max-height: 150px; */
    /* min-height: 50px; */
    height: 100px;
}

.main > * > * {
    display: block;
    margin-bottom: 24px;
}

.input {
    margin-right: 16px;
}

.bigButton {
    /* margin-left: calc(50% - 100px);
    margin-top: 50%; */
    display: block;
    margin-top: 0;
    margin-bottom: 50px;

    width: 200px;
    height: 100px;

    font-size: 32px;
}
